<div class="flex items-center justify-center">
    <div class="flex flex-col items-center justify-center space-y-6">
        <h1 class="text-5xl font-bold text-center text-red-600 text-balance md:text-pretty">Messages from Beyond</h1>

        <div class="py-12 px-8 my-auto text-white  bg-gray-700/40 rounded shadow-lg space-y-4 ">
            <p class="relative opacity-80">
                <span class="absolute top-0 text-7xl text-yellow-500 transform -translate-x-6 -translate-y-6">"</span>
                <em>The path to enlightenment is through darkeness</em> - Entity name  
            </p>
            <p class="opacity-50">Channeled by: Unknown</p>
        </div>

        <button class="w-full md:w-1/2 lg:w-auto py-2 px-8 fixed bottom-0 md:bottom-1 font-bold bg-red-600 hover:bg-red-500 text-red-100 md:rounded shadow-yellow-500 transform transition-all hover:scale-105 duration-300">Get Message</button>
    </div>
</div